{
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "jasmine": true,
    "jest": true
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error", {
        "trailingComma": "all",
        "singleQuote": true
      }
    ]
  }
}
